@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: mudium;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222;
  scroll-behavior: smooth;
  z-index: 1;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.animate-hidden {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
  opacity: 0;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  will-change: transform;
}

.animate-hidden.not-in-view {
  opacity: 1;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  border-radius: 50px;
  background: #f1f1f1;
  resize: none;
  padding: 30px 25px;
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 1px solid #325cfa;
  color: #222;
}

label.error {
  margin-top: 5px;
  color: #ff0000;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox__check {
  left: 0px;
  bottom: 29%;
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 20px;
}

.checkbox__box {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 6px;
}

.checkbox__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #222;
  padding-left: 24px;
  display: inline-block;
  text-align: initial;
}

input[type="checkbox"]:checked + .checkbox__box {
  background: url("../img/check.png") no-repeat center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

body.lock {
  overflow: hidden;
}

.content-padding {
  padding: 160px 0;
}

.title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 600;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 18px;
  line-height: 116.66667%;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 42px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  color: #fff;
}

.btn:hover,
.btn:focus {
  color: #000;
  background: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #325cfa;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.footer-popup {
  background: #f5f5f5;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  z-index: 100;
}

.footer-popup.active {
  display: block;
}

.footer-popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer-popup__about {
  border: 1px solid #150f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.footer-popup__text {
  font-size: 26px;
  line-height: 88.46154%;
  font-weight: 300;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #150f38;
}

.footer-popup__span {
  margin-left: 95px;
  position: relative;
  font-weight: 500;
}

.footer-popup__span::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 1px;
  left: -88px;
  top: 50%;
  background: #150f38;
}

.footer-popup__button {
  max-width: 280px !important;
}

.footer-popup__text-button {
  max-width: 40px;
}

.popup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: -1;
}

.popup.active {
  opacity: 1;
  z-index: 10;
  background-color: #00000041;
}

.popup__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

.popup__content {
  color: #000;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 5px;
  position: relative;
  margin: 75px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__wrapp {
  margin-right: 15px;
}

.popup__text-wrapper {
  margin: 40px 0;
}

.popup__text:not(:last-child) {
  margin-bottom: 20px;
}

.popup__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup__noMore {
  font-size: 15px;
  line-height: 140%;
  font-weight: 500;
  color: #325cfa;
  margin-right: 62px;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: 0.25ms ease-in-out;
  -o-transition: 0.25ms ease-in-out;
  transition: 0.25ms ease-in-out;
}

.popup__noMore:hover,
.popup__noMore:focus {
  text-decoration: underline;
}

.popup__link {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
}

.popup__images-wrapper {
  margin-left: 15px;
}

.popup__images:not(:last-child) {
  margin-bottom: 10px;
}

.popup__images img {
  border-radius: 5px;
}

.popup .button-about {
  margin: 0 20px 25px 0;
}

.header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(241, 241, 241, 0.6);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 15px;
}

.header__navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 48px;
}

.menu__item.active {
  z-index: 100;
}

.menu__link {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #222;
}

.menu__link.active::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background: #222;
}

.icon-menu {
  display: none;
}

.menu-buttons {
  border: 2px solid #f1f1f1;
  background: #00a8ef;
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  max-width: 180px;
  height: 52px;
  color: #f1f1f1;
  display: none;
}

.menu-buttons:hover,
.menu-buttons:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.menu-buttons:hover span,
.menu-buttons:focus span {
  color: #f1f1f1;
}

.menu-buttons:hover svg,
.menu-buttons:focus svg {
  stroke: #f1f1f1;
}

.menu-buttons:not(:last-child) {
  margin-right: 16px;
}

.login {
  background: transparent;
  margin-left: 90px;
}

.sign {
  background: #325cfa;
  border: 2px solid transparent;
}

.main-wrapper {
  background-image: url("../img/home/fullscreen1.jpg");
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solution {
  background-image: url("../img/solution/fullscreen1.jpg");
}

.company {
  background-image: url("../img/support/fullscreen1.jpg");
}

.support {
  background-image: url("../img/company/fullscreen1.jpg");
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 30px;
}

.preview__body {
  max-width: 724px;
}

.preview__text {
  font-size: 40px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 10px;
}

.preview__title {
  font-size: 60px;
  line-height: 121.66667%;
  font-weight: 600;
}

.preview__btn {
  border: 2px solid #f1f1f1;
  background: #00a8ef;
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  height: 90px;
  max-width: 357px;
  color: #325cfa;
  background: transparent;
  border: 2px solid #325cfa;
  margin: 35px 0;
}

.preview__btn:hover,
.preview__btn:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.preview__btn:hover span,
.preview__btn:focus span {
  color: #f1f1f1;
}

.preview__btn:hover svg,
.preview__btn:focus svg {
  stroke: #f1f1f1;
}

.solution-preview__title {
  font-size: 36px;
  line-height: 122.22222%;
  font-weight: 600;
  margin-bottom: 15px;
}

.solution-preview__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.solution-preview__btn {
  max-width: 427px;
}

.technology__body {
  margin-top: 95px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  max-width: 426px;
  width: 100%;
  min-height: 400px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 0 15px 25px;
  border: 1px transparent;
}

.card:nth-child(2) .card__front {
  background: transparent;
  color: #00a8ef;
  border: 2px solid #00a8ef;
  -webkit-box-shadow: 4px 6px 23px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 23px rgba(0, 0, 0, 0.25);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: -o-linear-gradient(228.85deg, #325cfa 25.54%, #00efff 140.06%);
  background: linear-gradient(221.15deg, #325cfa 25.54%, #00efff 140.06%);
  -webkit-box-shadow: 4px 6px 33px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 33px rgba(0, 0, 0, 0.25);
  color: #f1f1f1;
}

.card__image {
  height: 116px;
  width: 166px;
}

.card__front-title,
.card__back-title {
  font-size: 36px;
  line-height: 122.22222%;
  font-weight: 600;
  margin: 35px 0 15px;
}

.card__back-title {
  margin: 0 0 15px;
}

.card__front-subtitle,
.card__back-text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  margin: 10px 0 0;
}

.card__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.card:last-child {
  max-width: 630px;
}

.steps {
  background: #e2e7fa;
  padding-bottom: 250px;
}

.steps__slider {
  margin-top: 180px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  min-width: 0;
  position: relative;
  padding: 0 65px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.slider__text,
.slider__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__text {
  margin: 0 15px 0 0;
}

.slider__image {
  margin: 0 0 0 15px;
}

.slider .slick-arrow {
  position: absolute;
  top: 47%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  cursor: pointer;
  font-size: 0;
  width: 88px;
  height: 88px;
  border: 2px solid #222;
  border-radius: 50%;
  background: transparent;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}

.slider .slick-arrow.slick-prev::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: transparent;
  top: 35%;
  left: 40%;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slider .slick-arrow.slick-next {
  right: 0;
}

.slider .slick-arrow.slick-next::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: transparent;
  top: 35%;
  left: 40%;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 25%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
}

.slider .slick-dots li:not(:last-child) {
  margin-right: 5px;
}

.slider .slick-dots button {
  cursor: pointer;
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.slider .slick-dots li.slick-active button {
  background: transparent;
  border: 1px solid #000;
}

.cta {
  background-image: url("../img/home/fullscreen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta__title {
  color: #f1f1f1;
  margin-bottom: 55px;
}

.cta__button {
  border: 2px solid #f1f1f1;
  background: #00a8ef;
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  height: 90px;
  display: flex;
  margin: 0 auto;
  max-width: 357px;
  background: #f1f1f1;
}

.cta__button:hover,
.cta__button:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.cta__button:hover span,
.cta__button:focus span {
  color: #f1f1f1;
}

.cta__button:hover svg,
.cta__button:focus svg {
  stroke: #f1f1f1;
}

.resons__body {
  margin-top: 95px;
}

.resons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.resons__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.resons__item:nth-child(2n) .resons__image {
  margin: 0 0 0 20px;
}

.resons__image {
  max-width: 468px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resons__content {
  width: 100%;
  max-width: 700px;
}

.resons__title {
  font-size: 36px;
  line-height: 122.22222%;
  font-weight: 600;
  margin-bottom: 15px;
}

.resons__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.footbol-content {
  width: 100%;
  position: relative;
}

.footbol-content img {
  width: 100%;
  height: auto;
  display: block;
}

.features-buy {
  background: #e2e7fa;
}

.features-buy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.features-buy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
  margin: 0 -15px 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-buy__image-wrapper {
  margin: 0 auto;
  margin-bottom: 35px;
}

.features-buy__title {
  font-size: 36px;
  line-height: 122.22222%;
  font-weight: 600;
  margin-bottom: 15px;
}

.features-buy__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.contacts {
  background: url("../img/company/fullscreen2.png") no-repeat center/cover;
}

.contacts__title-wrapper {
  text-align: center;
  margin-bottom: 95px;
}

.contacts__subtitle {
  margin-top: 45px;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.form {
  background: #e2e7fa;
  border-radius: 100px;
  padding: 70px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
}

.form__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 auto 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__wrapper:nth-child(2n) {
  padding-left: 15px;
}

.form__wrapper:nth-child(2n + 1) {
  padding-right: 15px;
}

.form__wrapper_social {
  display: none;
}

.form__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  margin-bottom: 6px;
}

.form__star {
  color: #ff0000;
  margin-left: 2px;
}

.form__input {
  height: 90px;
}

.form__select-btn {
  background: #f1f1f1;
  border-radius: 50px;
  height: 90px;
  padding: 30px 25px;
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.form__select-btn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #c4c4c4;
  right: 25px;
  top: 39%;
  z-index: 2;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.form__select-wrapper {
  display: none;
  position: absolute;
  bottom: -200px;
  z-index: 100;
  width: 100%;
}

.form__select {
  height: 90px;
  width: 470px;
  padding: 30px 25px;
  border: 1px solid #325cfa;
  color: #a8a8a8;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  cursor: pointer;
  background: #f1f1f1;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.form__select:hover,
.form__select:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.form__select:first-child {
  border-radius: 50px 50px 0px 0px;
}

.form__select:last-child {
  border-top: none;
  border-radius: 0px 0px 50px 50px;
}

.form__select-btn {
  height: 90px;
}

.form__wrapper_social {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__wrapper_social.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -15px;
}

.form__textarea {
  height: 260px;
  margin-bottom: 35px;
}

.form__button {
  margin: 60px auto 0;
  border: 2px solid #f1f1f1;
  background: #00a8ef;
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  height: 90px;
  background: #325cfa;
  color: #f1f1f1;
  max-width: 450px;
}

.form__button:hover,
.form__button:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.form__button:hover span,
.form__button:focus span {
  color: #f1f1f1;
}

.form__button:hover svg,
.form__button:focus svg {
  stroke: #f1f1f1;
}

.select.active .form__select-wrapper {
  display: block;
}

.select.active .form__select-btn::before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  top: 39%;
}

.select {
  position: relative;
  margin: 0 0 35px;
}

.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

label#skype {
  padding: 0 0 0 15px;
}

.about-us {
  background: #e2e7fa;
  padding-bottom: 90px;
}

.about-us__body {
  position: relative;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  padding: 60px 15px 100px;
  top: -70px;
}

.about-us__content {
  max-width: 910px;
  margin: 45px auto 0;
}

.about-us__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.about-us__text:not(:last-child) {
  margin-bottom: 30px;
}

.about-us__company {
  color: #325cfa;
}

.footer {
  background: #222;
  color: #f1f1f1;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.footer__content {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text-wrapper {
  max-width: 450px;
}

.footer__title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.footer__policy {
  margin: 110px 0 55px;
  text-align: center;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.social__link:not(:last-child) {
  margin-right: 25px;
}

.social__item {
  width: 50px;
  height: 50px;
  fill: #f1f1f1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:hover {
  fill: #00a8ef;
}

.foot-mail {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

.foot-mail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.foot-mail__text {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  margin-bottom: 6px;
}

.foot-mail__star {
  color: #ff0000;
  margin-left: 2px;
}

.foot-mail__input {
  width: 100%;
  height: 90px;
  border-radius: 50px;
  padding: 30px 25px;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
}

.foot-mail__input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #a8a8a8;
}

.foot-mail__input::-moz-placeholder {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #a8a8a8;
}

.foot-mail__input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #a8a8a8;
}

.foot-mail__input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #a8a8a8;
}

.foot-mail__input::placeholder {
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 400;
  color: #a8a8a8;
}

.foot-mail__button {
  border: 2px solid #f1f1f1;
  background: #00a8ef;
  border-radius: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-size: 24px;
  line-height: 120.83333%;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  height: 90px;
  width: 100%;
  border: 2px solid transparent;
  background: #325cfa;
  color: #f1f1f1;
  cursor: pointer;
}

.foot-mail__button:hover,
.foot-mail__button:focus {
  background: #00a8ef;
  border: 2px solid transparent;
  color: #f1f1f1;
}

.foot-mail__button:hover span,
.foot-mail__button:focus span {
  color: #f1f1f1;
}

.foot-mail__button:hover svg,
.foot-mail__button:focus svg {
  stroke: #f1f1f1;
}

@media screen and (min-width: 768px) {
  .menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #222;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }

  .menu__link:hover::after,
  .menu__link:focus::after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (min-width: 1216px) {
  .slider__text,
  .slider__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 1215px) {
  .container {
    max-width: 992px;
    padding: 0 15px;
  }

  .form__select {
    width: 100%;
  }
}

@media screen and (max-width: 1215px) {
  .slider {
    padding: 0 75px;
  }

  .slider__text,
  .slider__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .slider .slick-arrow {
    width: 60px;
    height: 60px;
  }

  .slider .slick-arrow.slick-prev::before {
    width: 20px;
    height: 20px;
  }

  .slider .slick-arrow.slick-next::before {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1021px) {
  .cards {
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  input,
  textarea {
    font-size: 21px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 21px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 21px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 21px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 21px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 21px;
  }

  .checkbox__text {
    font-size: 21px;
  }

  .content-padding {
    padding: 110px 0;
  }

  .footer-popup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-popup__about {
    border: none;
  }

  .footer-popup__text {
    text-align: center;
  }

  .footer-popup__span {
    margin-left: 40px;
  }

  .footer-popup__span::before {
    width: 20px;
    left: -35px;
  }

  .preview__text {
    font-size: 36px;
  }

  .preview__btn {
    height: 70px;
  }

  .solution-preview__title {
    font-size: 28px;
  }

  .solution-preview__text {
    font-size: 21px;
  }

  .card {
    min-height: 300px;
    max-width: 300px;
  }

  .card__front-title,
  .card__back-title {
    font-size: 28px;
  }

  .card__front-subtitle,
  .card__back-text {
    font-size: 21px;
  }

  .steps {
    padding-bottom: 150px;
  }

  .steps__slider {
    margin-top: 60px;
  }

  .slider {
    font-size: 21px;
  }

  .cta__button {
    height: 70px;
  }

  .resons__title {
    font-size: 28px;
  }

  .resons__text {
    font-size: 21px;
  }

  .features-buy__item {
    margin: 0 -15px 75px;
  }

  .features-buy__title {
    font-size: 28px;
  }

  .features-buy__text {
    font-size: 21px;
  }

  .contacts__subtitle {
    font-size: 21px;
  }

  .form__text {
    font-size: 21px;
  }

  .form__select-btn {
    font-size: 21px;
  }

  .form__select {
    height: 70px;
  }

  .form__select {
    font-size: 21px;
  }

  .form__select-btn {
    height: 70px;
  }

  .form__button {
    height: 70px;
  }

  .about-us__text {
    font-size: 21px;
  }

  .footer__header {
    padding: 20px 0;
  }

  .footer__text {
    font-size: 21px;
  }

  .footer__policy {
    font-size: 21px;
  }

  .social__item {
    width: 41px;
    height: 41px;
  }

  .foot-mail__wrapper {
    max-width: 300px;
  }

  .foot-mail__text {
    font-size: 21px;
  }

  .foot-mail__input {
    height: 70px;
  }

  .foot-mail__input {
    font-size: 21px;
  }

  .foot-mail__input {
    max-width: 300px;
  }

  .foot-mail__input::-webkit-input-placeholder {
    font-size: 21px;
  }

  .foot-mail__input::-moz-placeholder {
    font-size: 21px;
  }

  .foot-mail__input:-ms-input-placeholder {
    font-size: 21px;
  }

  .foot-mail__input::-ms-input-placeholder {
    font-size: 21px;
  }

  .foot-mail__input::placeholder {
    font-size: 21px;
  }

  .foot-mail__button {
    height: 70px;
  }

  .foot-mail__button {
    max-width: 300px;
  }
}

@media (max-width: 992px) {
  .form {
    padding: 43px 43px;
  }

  .form__input {
    height: 70px;
  }

  .form__select-btn {
    padding: 20px 25px;
  }

  .form__select-btn::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #c4c4c4;
    top: 41%;
  }

  .form__select-wrapper {
    bottom: -150px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  .form__select:first-child {
    border-radius: 30px 30px 0px 0px;
  }

  .form__select:last-child {
    border-radius: 0px 0px 30px 30px;
  }

  .form__select {
    padding: 20px 25px;
  }

  .form__button {
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  input,
  textarea {
    font-size: 18px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 18px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 18px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 18px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 18px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
  }

  .checkbox__text {
    font-size: 18px;
  }

  .content-padding {
    padding: 70px 0;
  }

  .title {
    font-size: 36px;
  }

  .popup__content {
    margin: 75px 10px;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .header__burger-wrapper {
    width: 100%;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    margin: 0;
    padding: 30px 8px;
    list-style: none;
    background: #fff;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .menu.active {
    visibility: visible;
    right: 0;
    z-index: 10;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }

  .menu__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__wrapper.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .menu__link {
    font-size: 18px;
  }

  .menu-buttons {
    font-size: 18px;
  }

  .main-wrapper {
    background-image: url("../img/home/fullscreen1-768.jpg");
    min-height: initial;
  }

  .solution {
    background-image: url("../img/solution/fullscreen1-768.jpg");
  }

  .company {
    background-image: url("../img/support/fullscreen1-768.jpg");
  }

  .support {
    background-image: url("../img/company/fullscreen1-768.jpg");
  }

  .preview {
    margin: 100px 0;
  }

  .preview__text {
    font-size: 24px;
  }

  .preview__title {
    font-size: 48px;
  }

  .preview__btn {
    font-size: 18px;
  }

  .preview__btn {
    height: 60px;
  }

  .preview__btn {
    max-width: 250px;
  }

  .support-preview {
    margin: 171px 0;
  }

  .solution-preview__title {
    font-size: 24px;
  }

  .solution-preview__text {
    font-size: 18px;
  }

  .solution-preview__text {
    margin-bottom: 15px;
  }

  .solution-preview__text_items {
    padding-left: 24px;
    position: relative;
  }

  .solution-preview__text_items::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #325cfa;
    left: 0;
    top: 6px;
    border-radius: 50%;
  }

  .technology__body {
    margin-top: 60px;
  }

  .card__image {
    height: 80px;
    width: 80px;
  }

  .card__front-title,
  .card__back-title {
    font-size: 24px;
  }

  .card__front-title,
  .card__back-title {
    margin: 24px 0 15px;
  }

  .card__front-subtitle,
  .card__back-text {
    font-size: 18px;
  }

  .steps {
    padding-bottom: 90px;
  }

  .steps__slider {
    margin-top: 60px;
  }

  .slider {
    font-size: 18px;
  }

  .slider .slick-arrow {
    width: 40px;
    height: 40px;
  }

  .slider .slick-arrow.slick-prev::before {
    width: 13px;
    height: 13px;
  }

  .slider .slick-arrow.slick-next::before {
    width: 13px;
    height: 13px;
  }

  .cta {
    background-image: url("../img/home/fullscreen2-768.jpg");
  }

  .cta__title {
    margin-bottom: 24px;
  }

  .cta__button {
    font-size: 18px;
  }

  .cta__button {
    height: 60px;
  }

  .cta__button {
    max-width: 250px;
  }

  .resons__body {
    margin-top: 60px;
  }

  .resons__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .resons__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .resons__item:nth-child(2n) .resons__image {
    margin: 0 0 24px 0;
  }

  .resons__image {
    margin: 0 0 24px 0;
  }

  .resons__title {
    font-size: 24px;
  }

  .resons__text {
    font-size: 18px;
  }

  .features-buy__body {
    margin-top: 60px;
  }

  .features-buy__item {
    margin: 0 0 35px;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .features-buy__title {
    font-size: 24px;
  }

  .features-buy__text {
    font-size: 18px;
  }

  .contacts__title-wrapper {
    margin-bottom: 66px;
  }

  .contacts__subtitle {
    font-size: 18px;
  }

  .contacts__subtitle {
    margin-top: 24px;
  }

  .form__text {
    font-size: 18px;
  }

  .form__select-btn {
    font-size: 18px;
  }

  .form__select {
    height: 60px;
  }

  .form__select {
    font-size: 18px;
  }

  .form__select-btn {
    height: 60px;
  }

  .form__button {
    font-size: 18px;
  }

  .form__button {
    height: 60px;
  }

  .about-us {
    padding-bottom: 38px;
  }

  .about-us__content {
    margin-top: 24px;
  }

  .about-us__text {
    font-size: 18px;
  }

  .about-us__text:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer__header {
    padding: 10px 0;
  }

  .footer__title {
    font-size: 36px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__policy {
    font-size: 18px;
  }

  .footer__policy {
    margin: 73px 0 23px;
  }

  .social__link:not(:last-child) {
    margin-right: 22px;
  }

  .social__item {
    width: 33px;
    height: 33px;
  }

  .foot-mail__text {
    font-size: 18px;
  }

  .foot-mail__input {
    height: 60px;
  }

  .foot-mail__input {
    font-size: 18px;
  }

  .foot-mail__input::-webkit-input-placeholder {
    font-size: 18px;
  }

  .foot-mail__input::-moz-placeholder {
    font-size: 18px;
  }

  .foot-mail__input:-ms-input-placeholder {
    font-size: 18px;
  }

  .foot-mail__input::-ms-input-placeholder {
    font-size: 18px;
  }

  .foot-mail__input::placeholder {
    font-size: 18px;
  }

  .foot-mail__button {
    font-size: 18px;
  }

  .foot-mail__button {
    height: 60px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu.active {
    padding: 65px 25px 70px 16px;
  }
}

@media screen and (max-width: 768px) and (max-width: 576px) {
  .menu.active {
    padding: 30px 25px 40px 16px;
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 44px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #222;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .card {
    margin: 0 auto 25px;
  }

  .form__wrapper:nth-child(2n) {
    padding-left: 10px;
  }

  .form__wrapper:nth-child(2n + 1) {
    padding-right: 10px;
  }

  .form__input {
    height: 60px;
  }

  .form__select-wrapper {
    bottom: -130px;
  }

  .form__button {
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 679px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card:last-child {
    max-width: 300px;
    min-height: 352px;
  }

  .card:last-child .card__back-title {
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 670px) {
  .steps__slider {
    margin-top: 135px;
  }

  .slider {
    padding: 0;
  }

  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .slider__text {
    margin: 0;
    text-align: center;
  }

  .slider__image {
    margin: 0 0 24px 0;
  }

  .slider .slick-arrow {
    top: -65px;
  }

  .slider .slick-arrow.slick-prev {
    left: 40%;
  }

  .slider .slick-arrow.slick-next {
    right: 40%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .foot-mail {
    margin-top: 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 660px) {
  .popup__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
  }

  .popup__wrapp {
    margin-top: 35px;
  }

  .popup__text-wrapper {
    margin: 20px 0;
  }

  .popup__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .popup__button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__noMore {
    margin-right: 0;
  }

  .popup__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__images-wrapper {
    margin-left: 0;
  }

  .popup .button-about {
    margin-right: 0;
  }
}

@media screen and (max-width: 648px) {
  .form__input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .form__wrapper:nth-child(2n) {
    padding-left: 0;
  }

  .form__wrapper:nth-child(2n + 1) {
    padding-right: 0;
  }

  .form__wrapper {
    width: 100%;
  }

  .form__textarea-wrapper {
    margin: 0;
  }

  label#skype {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .content-padding {
    padding: 32px 0;
  }

  .title {
    font-size: 26px;
  }

  .footer-popup {
    padding: 15px 9px;
  }

  .footer-popup__about {
    padding: 0;
  }

  .footer-popup__text {
    font-size: 15px;
    line-height: 22px;
  }

  .footer-popup__span {
    margin-left: 30px;
  }

  .footer-popup__span::before {
    left: -28px;
  }

  .footer-popup__button {
    margin-top: 15px;
  }

  .footer-popup__text-button {
    max-width: initial;
  }

  .footer-popup__arrow {
    width: 13px;
    height: 13px;
  }

  .menu {
    width: 100%;
  }

  .menu__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .icon-menu {
    top: 30px;
    width: 18px;
    height: 12px;
  }

  .menu-buttons {
    font-size: 16px;
  }

  .main-wrapper {
    background-image: url("../img/home/fullscreen1-576.jpg");
  }

  .solution {
    background-image: url("../img/solution/fullscreen1-576.jpg");
  }

  .company {
    background-image: url("../img/support/fullscreen1-576.jpg");
  }

  .support {
    background-image: url("../img/company/fullscreen1-576.jpg");
  }

  .preview__body {
    max-width: 235px;
  }

  .preview__title {
    font-size: 30px;
  }

  .preview__btn {
    font-size: 16px;
  }

  .preview__btn {
    max-width: 186px;
  }

  .solution-preview__btn {
    max-width: 250px;
  }

  .technology__body {
    margin-top: 36px;
  }

  .steps {
    padding-bottom: 60px;
  }

  .slider .slick-arrow.slick-prev {
    left: 30%;
  }

  .slider .slick-arrow.slick-next {
    right: 30%;
  }

  .cta {
    background-image: url("../img/home/fullscreen2-576.jpg");
  }

  .cta__title {
    margin-bottom: 15px;
  }

  .cta__button {
    font-size: 16px;
  }

  .cta__button {
    max-width: 186px;
  }

  .resons__body {
    margin-top: 50px;
  }

  .features-buy__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .features-buy__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-bottom: 80px;
  }

  .features-buy__image-wrapper {
    margin-bottom: 24px;
  }

  .contacts__title-wrapper {
    margin-bottom: 36px;
  }

  .contacts__subtitle {
    margin-top: 16px;
  }

  .form__button {
    font-size: 16px;
  }

  .about-us {
    padding-bottom: 10px;
  }

  .about-us__body {
    top: -32px;
    padding: 30px 10px;
  }

  .about-us__content {
    margin-top: 15px;
  }

  .footer__header {
    padding: 7px 0;
  }

  .footer__title {
    font-size: 26px;
  }

  .social__link:not(:last-child) {
    margin-right: 12px;
  }

  .social__item {
    width: 20px;
    height: 20px;
  }

  .foot-mail__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 576) {
  .preview__text {
    font-size: 20px;
  }

  .solution-preview__title {
    font-size: 22px;
  }

  .card__front-title,
  .card__back-title {
    font-size: 22px;
  }

  .resons__title {
    font-size: 22px;
  }

  .features-buy__title {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .form {
    padding: 15px 10px;
    border-radius: 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 410px;
  }
}

.webp input[type="checkbox"]:checked + .checkbox__box { background: url(../img/check.webp) no-repeat center; }

.webp .main-wrapper { background-image: url(../img/home/fullscreen1.webp); }

.webp .solution { background-image: url(../img/solution/fullscreen1.webp); }

.webp .company { background-image: url(../img/support/fullscreen1.webp); }

.webp .support { background-image: url(../img/company/fullscreen1.webp); }

.webp .cta { background-image: url(../img/home/fullscreen2.webp); }

.webp .contacts { background: url(../img/company/fullscreen2.webp) no-repeat center/cover; }

@media screen and (max-width: 768px) {

  .webp .main-wrapper { background-image: url(../img/home/fullscreen1-768.webp); }
}

@media screen and (max-width: 768px) {

  .webp .solution { background-image: url(../img/solution/fullscreen1-768.webp); }
}

@media screen and (max-width: 768px) {

  .webp .company { background-image: url(../img/support/fullscreen1-768.webp); }
}

@media screen and (max-width: 768px) {

  .webp .support { background-image: url(../img/company/fullscreen1-768.webp); }
}

@media screen and (max-width: 768px) {

  .webp .cta { background-image: url(../img/home/fullscreen2-768.webp); }
}

@media screen and (max-width: 576px) {

  .webp .main-wrapper { background-image: url(../img/home/fullscreen1-576.webp); }
}

@media screen and (max-width: 576px) {

  .webp .solution { background-image: url(../img/solution/fullscreen1-576.webp); }
}

@media screen and (max-width: 576px) {

  .webp .company { background-image: url(../img/support/fullscreen1-576.webp); }
}

@media screen and (max-width: 576px) {

  .webp .support { background-image: url(../img/company/fullscreen1-576.webp); }
}

@media screen and (max-width: 576px) {

  .webp .cta { background-image: url(../img/home/fullscreen2-576.webp); }
}