.steps {
   background: $gray;
   padding-bottom: 250px;

   @media screen and (max-width: 992px) {
      padding-bottom: 150px;
   }

   @media screen and (max-width: 768px) {
      padding-bottom: 90px;
   }

   @media screen and (max-width: 576px) {
      padding-bottom: 60px;
   }

   &__slider {
      margin-top: 180px;

      @media screen and (max-width: 992px) {
         margin-top: 60px;
      }

      @media screen and (max-width: 768px) {
         margin-top: 60px;
      }

      @media screen and (max-width: 670px) {
         margin-top: 135px;
      }
   }
}
